<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Информация о судне</title>
    <!-- Подключение Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Подключение пользовательских стилей -->
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <!-- Навигационная панель (navbar) -->
    <nav class="navbar">
      <!-- Иконка слева -->
      <a class="navbar-brand" href="/">
        <div class="brand-container">
          <img
            src="/images/ShipStation.png"
            width="34"
            height="34"
            class="icon"
            alt="Icon"
          />
          <h1 class="brand-name">ShipStation</h1>
        </div>
      </a>
    </nav>

    <!-- Контейнер с информацией о судне по середине страницы -->
    <div class="container mt-4 text-center">
      <div class="col-md-6 mx-auto">
        <div class="card mb-4">
          <img src="{{.Photo}}" class="card-img-top" alt="Изображение судна" />
          <div class="card-body">
            <h5 class="card-title">Название судна: {{.ShipName}}</h5>
            <p class="card-text">Тип судна: {{.ShipType}}</p>
            <p class="card-text">Грузоподъемность: {{.CargoCapacity}} тонн</p>
            <p class="card-text">Максимальная глубина: {{.MaxDepth}} м</p>
            <p class="card-text">Максимальная длина: {{.MaxLength}} м</p>
            <p class="card-text">Год постройки: {{.YearBuilt}}</p>
            <p class="card-text">Флаг: {{.Flag}}</p>
            <p class="card-text">Классификация: {{.Classification}}</p>
            <p class="card-text">Вместимость экипажа: {{.CrewCapacity}} чел.</p>
            <p class="card-text">
              Пассажирская вместимость: {{.PassengerCapacity}} чел.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
